{% extends "layouts/common.html" %}

{% block body %}

	<div class="ui fixed inverted green menu main">
		<a class="item logo" href="/"><i class="icon home"></i> tree-tracker</a>
		<div class="right menu">
			{% if current_user and current_user.screen_name %}
				<a class="item"><i class="ui icon user"></i>{{ current_user.screen_name }}</a>
			{% else %}
				<a class="item" href="/login"><i class="ui icon user"></i>login</a>
			{% endif  %}
		</div>
	</div>

	{% block map %}
	{% endblock %}

	<div class="ui one column page grid main">
		<div class="column content">
			{% block content %}
			{% endblock %}
		</div>
	</div>

{% endblock %}
