/* Universals
============================================================================ */

html, body {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
}

body {
    font: 16px/24px 'Helvetica', sans-serif;
}
