/* Universals
============================================================================ */

html, body {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #f2f2f2;
	font: 16px/24px 'Helvetica', sans-serif;
}

#map {
	height: 300px;
	width: 100%;
}

.gmapjs-tree-marker {
	font-size: 16px;
	height: 100px;
	width: 200px;
}
