{% extends "layouts/content.html" %}

{% block map %}

	<div id="map-container">
		<div id="map"></div>
	</div>

{% endblock %}

{% block content %}

	<h2 class="ui header">Add Tree with Mobile Device GPS</h2>

	{% include "partials/messages.html" %}

	<form action="{{ request.url }}" method="POST" name="add_tree" class="ui form">
		{% from "partials/login-macros.html" import render_field_with_errors, render_field, render_submit_field %}
		{{ add_tree_form.hidden_tag() }}
		{{ render_field_with_errors(add_tree_form.longitude) }}
		{{ render_field_with_errors(add_tree_form.latitude) }}
		{# {{ render_field_with_errors(add_tree_form.address) }} #}
		{{ render_field_with_errors(add_tree_form.common_name) }}
		{{ render_submit_field(add_tree_form.submit) }}
		<a href="/" class="ui button">Back</a>
	</form>

	<script>

		var styling = {};

		styling.latitude_field = function(){
			$('input#latitude')
				.wrap('<div class="ui left labeled icon input"></div>')
				.parent()
				.append('<i class="screenshot icon"></i>');
		}

		styling.longitude_field = function(){
			$('input#longitude')
				.wrap('<div class="ui left labeled icon input"></div>')
				.parent()
				.append('<i class="screenshot icon"></i>');
		}

		styling.submit_field = function(){
			$('input#submit')
				.attr('class', 'ui blue submit button');
		}

		$(function(){

			var input_latitude = $('input#latitude'),
				input_longitude = $('input#longitude');

			styling.latitude_field();
			styling.longitude_field();
			styling.submit_field();

			input_latitude.prop('disabled', true);
			input_longitude.prop('disabled', true);

			var map = new GMaps({
				div: '#map',
				lat: 42.348349,
				lng: -71.098620,
				zoom: 18,
			});

			GMaps.geolocate({
				success: function(position) {
					input_latitude
						.prop('disabled', false)
						.attr('value', position.coords.latitude);

					input_longitude
						.prop('disabled', false)
						.attr('value', position.coords.longitude);

					map
						.setCenter(position.coords.latitude, position.coords.longitude);

					map
						.addMarker({
							lat: position.coords.latitude,
							lng: position.coords.longitude,
							icon: {
								url: encodeURI('/static/images/gmapjs-target.png'),
								anchor: new google.maps.Point(9, 9),
							},
							click: function() { }
						});

					map
						.addMarker({
							lat: position.coords.latitude,
							lng: position.coords.longitude,
							icon: encodeURI('/static/images/gmapjs-marker-blue.png'),
							click: function() { }
						});
				},
				error: function(error) {
					alert('Geolocation failed: ' + error.message);
				},
				not_supported: function() {
					alert('Your browser does not support geolocation');
				},
				options: {
					//Passed to getCurrentPosition() as PositionOptions parameter:
					//https://developer.mozilla.org/en-US/docs/Web/API/PositionOptions
					enableHighAccuracy: true,
					timeout: 120000, // 2 minutes
					maximumAge: 5000
				}
			});

		});

	</script>

{% endblock %}
