{% extends "layouts/content.html" %}

{% block map %}

	<div id="map-container">
		<div id="map"></div>
	</div>

{% endblock %}

{% block content %}

	<h2 class="ui header">Add Tree with Mobile Device GPS</h2>

	{% include "partials/messages.html" %}

	<p>A new marker is automatically added to the map. If the location is not correct, drag the marker to the correct location on the map.</p>

	<form action="{{ request.url }}" data-persist="garlic" method="POST" name="add_tree" class="ui form">
		{% from "partials/login-macros.html" import render_field_with_errors, render_field, render_submit_field %}
		{{ add_tree_form.hidden_tag() }}
		{{ render_field_with_errors(add_tree_form.longitude) }}
		{{ render_field_with_errors(add_tree_form.latitude) }}
		{# {{ render_field_with_errors(add_tree_form.address) }} #}
		{{ render_field_with_errors(add_tree_form.common_name) }}
		{{ render_submit_field(add_tree_form.submit) }}
		<a href="/" class="ui button">Back</a>
	</form>

	<script>

		var styling = {};

		styling.latitude_field = function(){
			$('input#latitude')
				.wrap('<div class="ui left labeled icon input"></div>')
				.parent()
				.append('<i class="screenshot icon"></i>');
		}

		styling.longitude_field = function(){
			$('input#longitude')
				.wrap('<div class="ui left labeled icon input"></div>')
				.parent()
				.append('<i class="screenshot icon"></i>');
		}

		styling.submit_field = function(){
			$('input#submit')
				.attr('class', 'ui green submit button');
		}

		$(function(){

			var input_latitude = $('input#latitude'),
				input_longitude = $('input#longitude');
			
			styling.latitude_field();
			styling.longitude_field();
			styling.submit_field();

			input_latitude.prop('disabled', true);
			input_longitude.prop('disabled', true);

			var map = new GMaps({
				div: '#map',
				lat: geolocation.defaults.latitude,
				lng: geolocation.defaults.longitude,
				zoom: 18,
			});

			var update_map = {};

			update_map.latitude = geolocation.defaults.latitude;
			update_map.longitude = geolocation.defaults.longitude;

			messages.create(
				'regular',
				'Getting Location',
				'Finding your current location',
				{
					'icon': 'bullseye',
				}
			);

			update_map.on_success = function(position) {
				messages.create(
					'info',
					'Location Found',
					'Map updated with current location',
					{
						'icon': 'check',
						'clear': 'true',
						'fadeOut': '5000'
					}
				);

				map
					.setCenter(position.coords.latitude, position.coords.longitude);

				map
					.addMarker({
						lat: position.coords.latitude,
						lng: position.coords.longitude,
						icon: {
							url: encodeURI('/static/images/gmapjs-target.png'),
							anchor: new google.maps.Point(9, 9),
						},
						click: function() { }
					});

				update_map.latitude = position.coords.latitude;
				update_map.longitude = position.coords.longitude;
			}

			update_map.on_error = function(error) {
				messages.create(
					'error',
					'Error getting current location',
					error.message,
					{
						'icon': 'exclamation',
						'clear': 'true',
						'close': 'true'
					}
				);
			}

			update_map.on_not_supported = function() {
				messages.create(
					'warning',
					'Location data not supported',
					'Could not determine location data from you device.',
					{
						'icon': 'exclamation',
						'clear': 'true'
					}
				);
			}

			update_map.on_always = function() {
				input_latitude
					.prop('disabled', false)
					.attr('value', update_map.latitude);

				input_longitude
					.prop('disabled', false)
					.attr('value', update_map.longitude);

				map
					.addMarker({
						lat: update_map.latitude,
						lng: update_map.longitude,
						draggable: true,
						icon: encodeURI('/static/images/gmapjs-marker-blue.png'),
						click: function() { },
						dragend: function() {
							input_latitude
								.prop('disabled', false)
								.attr('value', this.getPosition().lat());

							input_longitude
								.prop('disabled', false)
								.attr('value', this.getPosition().lng());
						}
					});
			}

			geolocation.update(
				update_map.on_success,
				update_map.on_error,
				update_map.on_not_supported,
				update_map.on_always
			);

		});

	</script>

{% endblock %}
