{% extends "layouts/content.html" %}

{% block map %}

	<div id="map-container">
		<div id="map"></div>
	</div>

{% endblock %}

{% block content %}

	<h1>Tree Tracker</h1>

	{% include "partials/messages.html" %}

	<p>Click on a tree on the map above for more information about it.</p>

	<p><a class="ui labeled icon small green button" href="/add-tree"><i class="icon plus"></i> Add New Tree</a></p>

	<div class="ui grid two column stackable">

		<div class="column">

			<h2>Recently Added Trees</h2>

			<ul>

			{% for tree in recent_trees %}

				<li><a href="/tree/{{ tree.id }}">{{ tree.common_name }} (ID: {{ tree.id }})</a> by {{ tree.user.screen_name }}</li>

			{% endfor %}

			</ul>
		
		</div>

		<div class="column">

			<h2>Recent Tree Measurements</h2>

			<ul>

			{% for measurement in recent_measurements %}

				<li><a href="/tree/{{ measurement.tree.id }}">{{ measurement.tree.common_name }} (ID: {{ measurement.tree.id }})</a> by {{ measurement.user.screen_name }}</li>

			{% endfor %}

			</ul>

		</div>

	</div>

	<h2>About the App</h2>

	<p>Trees is an open source application for testing GPS tracking with mobile devices using HTML 5. Code is available on:</p>

	<p><a class="ui icon green small button" href="https://github.com/chrislaskey/tree-tracker"><i class="icon github"></i> Github</a></p>

	<div class="ui location-data modal">

		<i class="close icon"></i>

		<div class="header">

			Location Data

		</div>

		<div class="content">

			<p>This website uses location data for mapping purposes only. Information about users is never stored.</p>

			<p>For a better user experience please consider allowing location data when prompted by your device. Thanks!</p>

		</div>

		<div class="actions">

			<div class="ui positive right labeled icon button">

				<i class="checkmark icon"></i> Okay, got it

			</div>

		</div>

	</div>

	<script>

	$(function(){

		var trees = [
			{% if trees %}
				{% for tree in trees %}
					[{{ tree.id}}, '{{ tree.common_name }}', '{{ tree.latitude }}', '{{ tree.longitude }}'],
				{% endfor %}
			{% endif %}
		];

		var map = new GMaps({
			div: '#map',
			lat: 42.348349,
			lng: -71.098620,
			zoom: 15,
		});

		if( trees ) {
			var icon = encodeURI('/static/images/gmapjs-marker.png');
			for (var i = 0; i < trees.length; i++ ) {
				var tree = trees[i];
				map.addMarker({
					lat: tree[2],
					lng: tree[3],
					title: tree[1],
					icon: icon,
					infoWindow: {
						content: '<div class="gmapjs-tree-marker"><strong>' + tree[1] + '</strong> (ID: ' + tree[0] + ')<br/><div class="ui buttons"><a class="ui icon button tiny blue" href="/tree/' + tree[0] + '"><i class="info letter icon"></i></a><a class="ui icon button tiny green" href="/tree/' + tree[0] + '/add-measurement"><i class="pencil icon"></i></a></div>'
					}
				});
			}
		}

		if ( ! $.cookie('location-data-modal') ) {
			$.cookie('location-data-modal', 'got-it', { expires: 30, path: '/' });
			$('.location-data.modal')
				.modal('show');
		}

	});

	</script>

{% endblock %}
