{% extends "layouts/content.html" %}

{% block map %}

	<div id="map-container">
		<div id="map"></div>
	</div>

{% endblock %}

{% block content %}

	<h1>Trees</h1>

	{% include "partials/messages.html" %}

	<div class="ui grid two column stackable">

		<div class="column">

			<h2>Recently Added Trees</h2>

			<ul>

			{% for tree in recent_trees %}

				<li><a href="/tree/{{ tree.id }}">{{ tree.common_name }} (ID: {{ tree.id }})</a> by {{ tree.user.screen_name }}</li>

			{% endfor %}

			</ul>

			<p>Add a new tree using:</a>

			<div class="ui buttons">
				<a class="ui button small green" href="/add-tree">Device GPS</a>
				<a class="ui button small disabled blue" href="#">Point on Map</a>
				<a class="ui button small disabled blue" href="#">Street Address</a>
			</div>
		
		</div>

		<div class="column">

			<h2>Recent Tree Measurements</h2>

			<ul>

			{% for measurement in recent_measurements %}

				<li><a href="/tree/{{ measurement.tree.id }}">{{ measurement.tree.common_name }} (ID: {{ measurement.tree.id }})</a> by {{ measurement.user.screen_name }}</li>

			{% endfor %}

			</ul>

		</div>

	</div>

	<script>

	$(function(){

		var trees = [
			{% if trees %}
				{% for tree in trees %}
					[{{ tree.id}}, '{{ tree.common_name }}', '{{ tree.latitude }}', '{{ tree.longitude }}'],
				{% endfor %}
			{% endif %}
		];

		var map = new GMaps({
			div: '#map',
			lat: 42.348349,
			lng: -71.098620,
			zoom: 15,
		});

		if( trees ) {
			var icon = encodeURI('/static/images/gmapjs-marker.png');
			for (var i = 0; i < trees.length; i++ ) {
				var tree = trees[i];
				map.addMarker({
					lat: tree[2],
					lng: tree[3],
					title: tree[1],
					icon: icon,
					infoWindow: {
						{# content: '<div class="gmapjs-tree-marker"><strong>' + tree[1] + '</strong><br/><small>ID: ' + tree[0] + '</small><br/><a class="ui icon button tiny blue" href="/tree/' + tree[0] + '"><i class="pencil icon"></i> Tree Details</a><br/><a class="ui icon button tiny green" href="/tree/' + tree[0] + '/add-measurement"><i class="pencil icon"></i> Add Measurement</a></div>' #}
						content: '<div class="gmapjs-tree-marker"><strong>' + tree[1] + '</strong> (ID: ' + tree[0] + ')<br/><div class="ui buttons"><a class="ui icon button tiny blue" href="/tree/' + tree[0] + '"><i class="info letter icon"></i></a><a class="ui icon button tiny green" href="/tree/' + tree[0] + '/add-measurement"><i class="pencil icon"></i></a></div>'
					}
				});
			}
		}

	});

	</script>

{% endblock %}
